.signStart {

    .signBackTip {
        text-align: center;
        display: block;
        margin-top: 20px;
        color: rgba(121, 116, 116, 1);
        font-size: 20px;
        font-family: SourceHanSansSC-regular;
    }

    .signInputName {
        width: 320px;
        margin: 10px auto;
    }
}