.container {
    .header {
        display: flex;
        justify-content: space-between;
        .desc {
            font-size: 28px;
            display: block;
            margin-top: 20px;
        }
    }
    .content {
        .backTip {  
            text-align: center;
            display: block;
            margin-top: 20px;
            color: rgba(121, 116, 116, 1);
            font-size: 20px;
            font-family: SourceHanSansSC-regular;
        }
        .inputName {
            margin-left: 8px;
            margin-top: 20px;
            .inputTip {
                font-size: 16px;
            }
            .input {
                width: 200px;
                margin-left: 10px; 
            }
        } 
        .progress {
            margin: 0 auto;
            width: 320px;
            margin-top: 35px;
            .roundTips {
                margin-top: 20px;
                text-align: center;
                word-break: break-all;
            }
        }
        .success {
            margin: 20px 10px;
            position: absolute;
            width: 334px;
        }
        .showShards {
            .tittle {
                margin-left: 15px;
                color: rgba(121, 116, 116, 1);
                font-size: 20px;
                font-family: PingFangSC-medium;
            };
            .drive {
                height: 84px;
                // line-height: 20px;
                border-radius: 10px 10px 10px 10px;
                // background-color: rgba(255, 255, 255, 1);
                text-align: center;
                border: 1px solid rgba(187, 187, 187, 1);
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 390px;
        left: 105px;
    }
}